{% extends 'base.html' %}

{% block title %} Accueil{% endblock %}


{% block content %} 

    <div class="container">
        <h1>Bienvenue sur votre bulletin de notes</h1><br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur fugiat maxime culpa quo magnam 
            repellendus distinctio modi ipsum expedita ut autem hic ipsam qui asperiores nostrum, ab quia eveniet!</p>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur fugiat maxime culpa quo magnam 
            repellendus distinctio modi ipsum expedita ut autem hic ipsam qui asperiores nostrum, ab quia eveniet!</p>


    </div>

    

{% endblock %}