<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>

    <nav class="navbar">
            {% if user.is_authenticated == False%}
            <a href="/inscription">S'inscrire</a>
            <a href="/connecter">Se connecter</a>
            {% endif%}

            {% if user.is_authenticated and user.statut == 'professeur' %}
                    <a href="/">Accueil</a>
                    <a href="/ajouterNote">Ajouter une note</a>
                    <a href="/parametre">Paramètres</a>
                    <a href="/deconnecter">Se déconnecter</a>

            {% elif user.is_authenticated and user.statut == 'eleve' %}
                <a href="/">Accueil</a>
                <a href="/parametre">Paramètres</a>
                <a href="/deconnecter">Se déconnecter</a>

            {% endif%}


        </ol>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error'%}
                    {{ message }}
                {% else %}
                    {{ message }}
                {% endif%}
            {% endfor%}
        {% endif %}
    {% endwith %}

            

    {%block content %}
    {% endblock %}

    
</body>
</html>