{% extends 'base.html' %}

{% block title %} Se connecter {% endblock %}

{% block content %} 
    <div class="container">
        <h1>Bienvenue se connecter!</h1>
        <form method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Indiquez votre adresse email" value="@gmail.com">
    
            <label for="mdp">Mot de passe</label>
            <input type="password" name="mdp" placeholder="Indiquez votre mot de passe" value="enter">
    
            <button type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}