{% extends "base.html" %}

{%block title%} Accueil {% endblock %}

{% block content%}
<br>
<div class="container">
  <br>
  <h1>{{ eleve.prenom }} {{ eleve.nom }}</h1>
  <h2>Votre moyenne générale est de : {{moyenne}}</h2>





  <table>
    <thead>
        <tr>
            <th>Matière et sujet</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td>{{ note.matiere }}</td>
            <td>{{ note.note }}/{{ note.coef }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

</div>

{% endblock%}