{% extends 'base.html' %}

{% block title %} Inscription {% endblock %}


{% block content %} 

    <div class="container">
        <h1>Bienvenue sur la page d'inscription!</h1>
        <form method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Indiquez votre adresse email" value="test@gmail.com">
    
            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" placeholder="Indiquez votre prénom ?" value="testPrenom">
    
            <label for="nom">Nom</label>
            <input type="text" name="nom" placeholder="Indiquez votre nom" value="testNom">
    
            <label for="mdp1">Mot de passe</label>
            <input type="password" name="mdp1" placeholder="Indiquez votre mot de passe" value="lafsuc4pol">
    
            <label for="mdp2">Confirmation du mot de passe</label>
            <input type="password" name="mdp2" placeholder="Confirmez votre mot de passe" value="lafsuc4pol">

            <div>
                <input type="radio" name="statut" value="eleve">
                <label for="eleve">Élève</label>
        
                <input type="radio" name="statut" value="professeur">
                <label for="professeur">Professeur</label><br>
            </div>

            
            <button type="submit">S'inscrire</button>
        </form>
    </div>


{% endblock %}


